@use '../../../styles/_variables'
*
    font-family: variables.$font-primary

.language
    &-selector
        position: relative
        width: 100%
        padding: 50px 0 0 0
        outline: none
        border: none
        background-color: transparent

        @media (min-width: variables.$breakpoint-sm)
            width: 400px

    &-ul
        list-style: none
        padding: 0
        margin: 0

    &-selected-button
        border: none
        background-color: variables.$background-primary
        padding: 0

        & > .language-flag
            width: 40px
            border-radius: 100%

        &:hover
            cursor: pointer

    &-button
        display: flex
        gap: 30px
        width: 100%
        min-width: 180px
        max-width: 380px
        padding: 0
        margin-bottom: 10px
        border: none
        border-radius: 15px
        background-color: white

        &:hover
            cursor: pointer
            background-color: variables.$background-accent

    &-flag
        order: 1
        border-radius: 15px 0 0 15px
        width: 60px
        height: 40px

    &-name
        order: 2
        align-self: center
        text-align: start
        font-weight: variables.$font-weight-mid
        padding: 10px 15px 10px 0

.close
    &-button
        position: absolute
        right: 10px
        top: 0
        border: none
        background-color: transparent
        &:hover
            cursor: pointer
    &-icon
        &:hover
            fill: rgb(255, 179, 0, 255)
