@use '../../../styles/_variables'

*
    font-family: variables.$font-primary
    padding: 0
    margin: 0
    list-style: none
    box-sizing: border-box
    border: none

.back-button
    font-family: variables.$font-primary
    font-weight: 300
    font-size: variables.$font-size-xs
    color: black
    border: none
    border-radius: variables.$button-border-radius
    background-color: variables.$yellow
    height: 30px
    width: 100%

    &:hover
        cursor: pointer
        box-shadow: variables.$shadow-default
