@use '../../../styles/_variables'

*
    font-family: variables.$font-primary
    padding: 0
    margin: 0
    list-style: none
    box-sizing: border-box
    border: none

.next-button,
.previous-button
    display: none

.cards
    display: grid
    grid-auto-flow: column
    grid-auto-columns: calc(50% - (variables.$spacing-sm / 2))
    gap: variables.$spacing-sm
    overflow-x: auto
    scroll-snap-type: inline mandatory
    // scrollbar-width: none

    @media (min-width: variables.$breakpoint-sm)
        grid-auto-columns: calc(33.3% - (variables.$spacing-sm / 1.5))

    @media (min-width: variables.$breakpoint-sm-md)
        grid-auto-columns: calc(25% - (variables.$spacing-sm / 1.33))

    @media (min-width: variables.$breakpoint-md)
        grid-auto-columns: calc(20% - (variables.$spacing-sm / 1.25))

    @media (min-width: variables.$breakpoint-lg)
        width: 924px

.card
    width: 100%
    aspect-ratio: 2 / 3

    &-button
        width: 100%
        display: flex
        scroll-snap-align: start

    &-slider
        height: 100%
        @media (min-width: variables.$breakpoint-lg)
            display: flex
            justify-content: center

//  ---------------- ANIMATIONS -------------- //
.card-button
    opacity: 0
    transform: translateX(-100%)
    animation: slide-in 1s ease-out forwards

    &:nth-child(1)
        animation-delay: 0.4s

    &:nth-child(2)
        animation-delay: 0.6s

    &:nth-child(3)
        animation-delay: 0.8s

    &:nth-child(4)
        animation-delay: 1s

    &:nth-child(5)
        animation-delay: 1.2s

@keyframes slide-in
    to
        opacity: 1
        transform: translateX(0)
