// ---------- COLORS ---------- //
$very-light-grey: rgba(236, 236, 236, 255)
$light-grey: rgb(198, 198, 209)
$light-grey-opaque: rgba(191, 192, 191, 0.7)
$dark-grey: rgba(103, 108, 108, 255)
$blue: rgba(30, 191, 241, 255)
$black: rgba(44, 46, 53, 255)
$yellow: rgba(255, 200, 0, 255)
$dark-yellow: rgba(255, 170, 0, 255)
$pink: rgb(236, 49, 143)

// --------- FONT ---------- //
$font-size-xs: 16px
$font-size-sm: 24px
$font-size-md: 32px
$font-size-xm: 48px
$font-size-lg: 64px
$font-size-xl: 80px

$font-weight-light: 100
$font-weight-normal: 400
$font-weight-mid: 600
$font-weight-heavy: 700

// ---------- SPACING ---------- //
$spacing-sm: 15px
$spacing-sm-md: 10px
$spacing-md: 20px
$spacing-lg: 50px

// ---------- BREAKPOINTS ---------- //
$breakpoint-xs: 320px
$breakpoint-sm: 420px
$breakpoint-sm-md: 620px
$breakpoint-md: 768px
$breakpoint-lg: 1024px

// --------- GLOBAL & PAGE---------- //
$page-background: $very-light-grey
$text-primary: $black
$font-primary: "Effra Trial", sans-serif
$button-border-radius: 20px
$padding-body-xs: 20px 2px

// ---------- LANGUAGE MENU ---------- //
$language-menu-backdrop: $light-grey-opaque
$language-menu-button-hover: $yellow
$language-name-margin: 25%

// ---------- PLAYER COUNT PICKER ---------- //
$nav-button-fill: $light-grey
$nav-button-fill-hover: $yellow
$card-border-hover: $pink
$card-padding: 7.5% 5%
$card-border-radius: 7.5%

$indicator: $light-grey
$indicator-selected: $yellow

// ---------- SCORE INPUT ----------- //
$name-background-color: $pink
$score-border-color: $blue
$score-input-background: $yellow
$score-input-add-background: $yellow
$score-input-back-background: $yellow

// _____shadow
$shadow-default: 3px 3px 3px 0px rgba(153, 153, 153, 1)

// _____warning
$warning-color: $dark-yellow
