// ---------- colors ---------- //
// _____background
$color-background-page: rgba(236, 236, 236, 255)
$color-background-name-input: rgba(103, 108, 108, 255)
$color-background-player-point-input: rgba(255, 221, 59, 255)
$color-background-submit-points: rgb(236, 49, 143)

// _____border
$color-border-name-input: rgb(236, 49, 143)
$color-border-name: rgba(30, 191, 241, 255)
$color-border-points: rgb(236, 49, 143)
$color-border-cards: rgb(236, 49, 143)

// _____shadow
$color-shadow: rgba(191, 192, 191, 255)

// _____text
$color-text: rgba(44, 46, 53, 255)

// ---------- fonts ---------- //
// _____font
$font-primary: "Effra Trial", sans-serif

// _____weight
$font-weight-light: 100
$font-weight-mid: 600
$font-weight-heavy: 700

// ---------- spacing ---------- //

// ---------- borders ---------- //

// ---------- breakpoints ---------- //
$breakpoint-sm: 320px
$breakpoint-md: 768px
$breakpoint-lg: 1024px
