// ---------- colors ---------- //
// _____background
$background-primary: rgba(236, 236, 236, 255)
$background-secondary: rgba(103, 108, 108, 255)
$background-accent: rgba(255, 221, 59, 255)
$background-action: rgb(236, 49, 143)

// _____border
$border-primary: rgb(236, 49, 143)
$border-secondary: rgba(30, 191, 241, 255)

$border-radius-primary: 20px

// _____shadow
$shadow-default: rgba(191, 192, 191, 255)

// _____text
$text-primary: rgba(44, 46, 53, 255)

// ---------- fonts ---------- //
// _____font
$font-primary: "Effra Trial", sans-serif

// _____size
$font-size-xs: 16px
$font-size-sm: 24px
$font-size-md: 32px
$font-size-xm: 48px
$font-size-lg: 64px
$font-size-xl: 80px

// _____weight
$font-weight-light: 100
$font-weight-mid: 600
$font-weight-heavy: 700

// ---------- spacing ---------- //
$spacing-sm: 15px
$spacing-md: 20px
$spacing-lg: 50px

// ---------- breakpoints ---------- //
$breakpoint-xs: 320px
$breakpoint-sm: 420px
$breakpoint-sm-md: 620px
$breakpoint-md: 768px
$breakpoint-lg: 1024px
