@use "./variables"

footer
    display: grid
    grid-template-columns: 1fr 1fr

.logo
    &-container
        display: flex
        justify-content: flex-end

    &-footer
        object-fit: cover
        height: 120px
        width: 100%
        max-width: 200px

dt-language-selector
        align-self: center
        justify-self: center
        margin-bottom: -30px

        @media (min-width: variables.$breakpoint-md)
            justify-self: start
            margin-bottom: -80px
