@use "./variables"

header
    display: flex
    justify-content: center

    @media (min-width: variables.$breakpoint-md)
        justify-content: flex-start

.header-title
    font-weight: variables.$font-weight-heavy
    font-size: variables.$font-size-md

    @media (min-width: variables.$breakpoint-sm)
        font-size: variables.$font-size-xm

    @media (min-width: variables.$breakpoint-md)
        font-size: variables.$font-size-lg

    @media (min-width: variables.$breakpoint-lg)
        font-size: variables.$font-size-xl
