@use "./variables"
@use "./header"
@use "./main"
@use "./footer"

html,
body
    font-family: variables.$font-primary

body
    display: grid
    grid-template-rows: auto 1fr auto
    height: 100vh
    padding: variables.$padding-md
    background-color: variables.$background-primary

    @media (min-width: variables.$breakpoint-md)
        padding: variables.$padding-md 0 variables.$padding-md variables.$padding-lg

// make a spinner custom element?
// .spinner-icon
//     position: absolute
//     right: 50%
//     top: 40%
//     translate: transform(-50%, -50%)
//     width: 50px
//     animation: spin 2s linear infinite
//     transform-origin: center
// @keyframes spin
//     0%
//         transform: rotate(0deg)

//     100%
//         transform: rotate(360deg)

// .dot-1
//     fill: rgba(30, 191, 241, 255)
// .dot-2
//     fill: rgba(255, 221, 59, 255)
// .dot-3
//     fill: rgb(236, 49, 143)
// .dot-4
//     fill: rgba(49,179,73,255)
// .dot-5
//     fill: rgba(30, 191, 241, 255)
// .dot-6
//     fill: rgba(255, 221, 59, 255)
// .dot-7
//     fill: rgb(236, 49, 143)

// const spinnerSvg = `
//         <svg class="spinner-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
//             <path class="dot-1" d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/>
//             <path class="dot-2" d="M304 464a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/>
//             <path class="dot-3" d="M48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/>
//             <path class="dot-4" d="M490 260a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z"/>
//             <path class="dot-5" d="M142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437z"/>
//             <path class="dot-6" d="M142.9 142.8A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9z"/>
//             <path class="dot-7" d="M369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/>
//         </svg>`;
