@use "./variables"

main
  height: 500px
  background-color: variables.$color-background-page
  color: variables.$color-text

html,
body
  font-family: variables.$font-primary
  font-size: 24px
  font-weight: variables.$font-weight-mid
