@use "./variables"

html,
body
    font-family: variables.$font-primary
    height: 100%

body
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: variables.$padding-body-xs
    background-color: variables.$page-background

    @media (min-width: variables.$breakpoint-md)
        padding: variables.$spacing-sm variables.$spacing-lg variables.$spacing-sm variables.$spacing-lg

header
    text-align: center

    @media (min-width: variables.$breakpoint-md)
        text-align: start

.header-title
    font-weight: variables.$font-weight-heavy
    font-size: variables.$font-size-md
    color: variables.$text-primary
    letter-spacing: 5px

    animation: slide-in-from-right 1.5s ease-out
    opacity: 1
    display: inline-block

    @keyframes slide-in-from-right
        0%
            transform: translateX(100%)
            opacity: 0

        100%
            transform: translateX(0)
            opacity: 1

    @media (min-width: variables.$breakpoint-sm)
        font-size: variables.$font-size-xm

    @media (min-width: variables.$breakpoint-md)
        font-size: variables.$font-size-lg

    @media (min-width: variables.$breakpoint-lg)
        font-size: variables.$font-size-xl

main
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%

footer
    width: 100%
    display: flex
    justify-content: space-between
    position: relative
    padding: 0 variables.$spacing-md

.logo
    &-container
        height: 100%

    &-footer
        width: 100px

dt-loader
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    z-index: 1

dt-language-selector
    align-self: flex-end
    padding-bottom: variables.$spacing-md

dt-player-count-picker
    height: 100%

dt-player-name-input
    display: flex
    justify-content: center

dt-score-display
    height: 100%
    padding: 0 variables.$spacing-sm-md

    @media (min-width: variables.$breakpoint-sm)
        padding: 0 variables.$spacing-lg

        @media (min-width: variables.$breakpoint-md)
            padding: 0
